
.navbar-form.navbar-right:last-child {
    margin-right: 0;
}

.word-title:hover {
    background-color: #df691a;
}

a {
    text-decoration: none !important;;
}

#contents {
    padding: 2.8em;
}

#navbar-logo {
    height: 188%;
    padding: 0;
    margin: -40%;
    margin-top: -25%;
}
